@model Product

@{
	ViewData["Title"] = "Product";
	Layout = "_layout";
}


<link rel="stylesheet" href="~/css/style-main.css /">
<link rel="stylesheet" href="~/css/utils.css/">
<div class="d-flex">
	<div class="container">
		<div class="bg-white" id="sidebar-wrapper">
			<div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">

				<a asp-controller="Home" asp-action="Profile"><img src="~/images/CRM_Logo_White.jpg" alt="logo" class="logo" width="100" height="100" /></a>
			</div>
			<div class="list-group  my-3">

				<p>Name: @Model.Name</p>
				<p>Price: @Model.Price</p>
				<p>ProductType: @Model.ProductType?.Name</p>
				<p>Details: @Model.Details</p>
				<p>Seller: <a href="/user/profile/{@Model.SellerId}" ></a>@Model.Seller?.Name</p>

				<a href="#" class="btn_primary">Edit</a>




				<a asp-controller="Auth" asp-action="Logout"
				   class="list-group-item list-group-item-action bg-transparent text-primary fw-bold"><i class="fas fa-power-off me-2"></i>Logout</a>
			</div>
		</div>
	</div>
</div>
