@model ProductIndexModel

@{
	Layout = "_layout";
	ViewData["Title"] = "Products";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CRM Application</title>

	<link rel="stylesheet" type="text/css" href="/css/utils.css">
	<link rel="stylesheet" type="text/css" href="/css/style-table.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/monthSelect/style.css" />


</head>
<body>
	<h3 style="text-align:center">Products</h3>
	@if (Model.Products.Count > 0)
	{
		<div style="display:flex;justify-content:center">
			<table>
				<thead>
					<tr>
						<th class="main-element">Product</th>
						<th class="centered">Price</th>
						<th class="centered">Type</th>
						<th class="centered">Company</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (Product product in Model.Products)
					{
						<tr>
							<td class="centered"><a href="/Product/Product/@product.Id">@product.Name</a></td>
							<td class="centered">@product.Price</td>
							<td class="centered">@product.ProductType!.Name</td>
							<td class="centered"><a href="/Company/Products/@product.Seller!.CompanyId">@product.Seller!.Company!.Name</a></td>
							@if (product.ProductTypeId == 1)
							{
								<td>
									<form method="post" asp-controller="Order" asp-action="CreateOrder">
										<input type="hidden" name="CreateOrderModel.Product.Id" value="@product.Id" />
										<input type="hidden" name="CreateOrderModel.Product.Price" value="@product.Price" />
										<input type="hidden" name="CreateOrderModel.Product.ProductTypeId" value="@product.ProductTypeId" />
										@if (ViewBag.CanBuy)
										{
											<button type="submit" class="load btn_primary mt-3 mb-3">
												Buy
											</button>
										}
									</form>
								</td>
							}
							else
							{
								<td>
									@if (ViewBag.CanBuy)
									{
										<button class="btn_primary " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="endDate">
											Buy
										</button>
									}
									<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<form method="post" asp-controller="Order" asp-action="CreateOrder">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="exampleModalLabel">Choose membership end date for @Model.Products.FirstOrDefault()?.Name</h1>
													</div>
													<div style="display:flex;justify-content:center" class="modal-body">

														<input type="hidden" name="CreateOrderModel.Product.Id" value="@product.Id" />
														<input type="hidden" name="CreateOrderModel.Product.Price" value="@product.Price" />
														<input type="hidden" name="CreateOrderModel.Product.ProductTypeId" value="@product.ProductTypeId" />
														<input style="text-align:center;border-radius:30px;padding:12px;width:60%" type="text" id="datetime" placeholder="End Date" />
														<input type="hidden" name="CreateOrderModel.endDate" id="EndDateFormatted" />

													</div>

													<div style="justify-content:center" class="modal-footer">
														<button type="submit" class="btn_primary mt-3" style="width:80%;font-size:15px">
															Buy
														</button>

													</div>
													}
												</form>


											</div>
										</div>
									</div>
								</td>

							}
						</tr>
					}
				</tbody>
			</table>

		</div>
		<br />

	}
	else
	{
		<h3 style="text-align:center">No products available.</h3>
	}
	@if (ViewBag.CanSell)
	{
		<div style="display:flex;justify-content:center">
			<a href="/Product/AddProduct" class="btn_primary">Add Product</a>
		</div>
	}
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/monthSelect/index.js"></script>
	<script>
		flatpickr("#datetime", {
			minDate: "today",
			plugins: [
				new monthSelectPlugin({
					shorthand: true,
					dateFormat: "F/Y",
					altFormat: "F Y",
				})
			],
			onChange: function (selectedDates, dateStr) {
				document.getElementById("EndDateFormatted").value = dateStr;
			}
		});
	</script>
</body>
</html>
