@model User

@{
	Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/style-table.css">
<link rel="stylesheet" href="~/css/style-main.css /">
<link rel="stylesheet" href="~/css/utils.css/">
<div class="d-flex">
	<div class="container">
		<div class="bg-white" id="sidebar-wrapper">
			<div class="list-group" style="align-items:center">
				@if (Model == null)
				{
					<h3>User not found.</h3>
				}
				else
				{
					<table style="width:50%">
						<thead>
							<tr>
								<th colspan="2" class="centered">
									Information about @Model.Name
								</th>
							</tr>
						</thead>
						<tr>
							<td class="centered">
								Email
							</td>
							<td class="centered">
								@Model.Email
							</td>
						</tr>
						<tr>
							<td class="centered">
								Phone
							</td>
							<td class="centered">
								@Model.Phone
							</td>
						</tr>
						<tr>
							<td class="centered">
								Address
							</td>
							<td class="centered">
								@Model.Address
							</td>
						</tr>
						<tr>
							<td class="centered">
								Company
							</td>
							<td class="centered">
								@Model.Company?.Name
							</td>
						</tr>
						<tr>
							<td class="centered">
								Role
							</td>
							<td class="centered">
								@Model.Role.Name
							</td>
						</tr>
					</table>
				}
			</div>
		</div>
	</div>
</div>
